{% extends 'admin_base.html' %}
{% load widget_tweaks %}
{%load static%}
{% block content %}

<body>
    <div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="overview-wrap">
                            <h2 class="title-1">Add of your Doctor</h2>
                        </div>
                    </div>
                </div>
                <br>
                <form action="{% url 'admin_add_doctor' %}" method="post" class="signin-form"
                    enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="container register-form">
                        <div class="form">
                            <div class="note">
                                <p>Add Doctor To Hospital</p>
                            </div>
                            <div class="form-content">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {% render_field userform.first_name required="required" class="form-control" placeholder="FIRST NAME"%}
                                        </div>
                                        <div class="form-group">
                                            {% render_field userform.username required="required" class="form-control" placeholder="USER NAME"%}
                                        </div>
                                        <div class="form-group">
                                            {% render_field doctorform.address required="required" class="form-control" placeholder="ADDRESS"%}
                                        </div>
                                        <div class="form-group">
                                            {% render_field doctorform.department required="required" class="form-control" placeholder="DEPARTMENT"%}
                                        </div>
                                        <div class="form-group">
                                            {% render_field doctorform.profile_pic required="required" class="form-control" placeholder="PROFILE PIC"%}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {% render_field userform.last_name required="required" class="form-control" placeholder="LAST NAME"%}
                                        </div>
                                        <div class="form-group">
                                            {% render_field userform.password required="required" class="form-control" placeholder="PASSWORD"%}
                                        </div>
                                        <div class="form-group">
                                            {% render_field userform.email class="form-control" placeholder="EMAIL" %}
                                          </div>
                                        <div class="form-group">
                                            {% render_field doctorform.mobile required="required" pattern="[6789][0-9]{9}" class="form-control" placeholder="MOBILE NUMBER"%}
                                        </div>
                                        <div class="form-group">
                                            {% render_field doctorform.exprience required="required" class="form-control" placeholder="EXPRIENCE"%}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="form-control btn btn-primary submit px-3">Add</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

{% endblock content %}