{% include 'base.html' %}
{% load static %}
{% block content %}
<div style="margin-bottom:0px; text-align:center;">
    <h1 class="display-4" >Hello, ADMIN</h1>
    <p class="lead">Welcome to Hospital Management System.</p>
    <hr class="my-4">
    <p>You can access various features after Login/SignUp.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="{% url 'doctorsignup' %}" role="button">SignUp</a>
      <a class="btn btn-primary btn-lg" href="{% url 'doctorlogin' %}" role="button">Login</a>
    </p>
  </div>
{% endblock content %}