{% include 'base.html' %}
{% load static %}
{% block content %}
<div class="jumbotron" style="margin-top: 0px;
margin-bottom: 0px;">
<h1 class="display-4">Hello {{request.user.first_name}}</h1>
<p class="lead">Your Account is not approved till now <br><br>Our Team is checking your profile <br><br> Soon your Account will be confirmed !!!</p>
<hr class="my-4">
<p>Check Later</p>
<p class="lead">
  <a class="btn btn-primary btn-lg" href="/logout" role="button">Logout For Now</a>
</p>
</div>
{% endblock content %}