{% include 'base.html' %}
{% load static %}
{% block content %}
<div style="margin-bottom:0px; text-align:center;">
  <h1 class="display-4" >Hello, {{request.user.first_name}}</h1>
  <p class="lead">Welcome to Hospital Management System.</p>
<p class="lead">Your Account is not approved till now. Our Team is checking your profile <br><br> Soon your Account will be confirmed !!!</p>
  <p>Check Later</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="{% url 'logout' %}" role="button">Logout For Now</a>
  </p>
</div>
{% endblock content %}