{% include 'base.html' %}
{% load static %}
{% block content %}

<head>
  <title>Login AS DOCTOR</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body class="img" style="background-image: url(static/bg2.jpg);">
  <section class="ftco-section">
    <div style="margin-bottom:0px; text-align:center;">
      <h1 class="display-4">Hello, DOCTOR</h1>
      <p class="lead">Welcome to Hospital Management System.</p>
      <hr class="my-4">
      <p>You can access various features after Login/SignUp.</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="doctorsignup" role="button">SignUp</a>
        <a class="btn btn-primary btn-lg" href="doctorlogin" role="button">Login</a>
      </p>
    </div>
  </section>

  <script src="static/jquery.min.js"></script>
  <script src="static/popper.js"></script>
  <script src="static/bootstrap.min.js"></script>
  <script src="static/main.js"></script>

</body>
{% endblock content %}