{% load static %}


{% block content %}

<body>
  <div class="main-content">
    <div class="section__content section__content--p30">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="overview-wrap">
              <h2 class="title-1">overview of your portal</h2>
            </div>
          </div>
        </div>
        <div class="row m-t-25">
          <div class="col-sm-1 col-lg-6">
            <div class="overview-item overview-item--c1">
              <div class="overview__inner">
                <div class="overview-box clearfix">
                  <div class="icon">
                    <i class="zmdi zmdi-account-o"></i>
                  </div>
                  <div class="text">
                    <h3>{{doctorcount}}</h3>
                    <h4>Total Doctor</h4>
                    <p>Approval Required : {{pendingdoctorcount}}</p>
                  </div>
                </div>
                <div class="overview-chart">
                  <canvas id="widgetChart1"></canvas>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-1 col-lg-6">
            <div class="overview-item overview-item--c2">
              <div class="overview__inner">
                <div class="overview-box clearfix">
                  <div class="icon">
                    <i class="zmdi zmdi-info"></i>
                  </div>
                  <div class="text">
                    <h2>{{symptoms}}</h2>
                    <span>Symptoms</span>
                  </div>
                </div>
                <div class="overview-chart">
                  <canvas id="widgetChart2"></canvas>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-1 col-lg-6">
            <div class="overview-item overview-item--c3">
              <div class="overview__inner">
                <div class="overview-box clearfix">
                  <div class="icon">
                    <i class="zmdi zmdi-phone"></i>
                  </div>
                  <div class="text">
                    <h2>{{doctorMobile}}</h2>
                    <span>Doctor Mobile</span>
                  </div>
                </div>
                <div class="overview-chart">
                  <canvas id="widgetChart3"></canvas>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-1 col-lg-6">
            <div class="overview-item overview-item--c4">
              <div class="overview__inner">
                <div class="overview-box clearfix">
                  <div class="icon">
                    <i class="zmdi zmdi-map"></i>
                  </div>
                  <div class="text">
                    <h2>{{doctorAddress}}</h2>
                    <span>Doctor Address</span>
                  </div>
                </div>
                <div class="overview-chart">
                  <canvas id="widgetChart4"></canvas>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-1 col-lg-6">
            <div class="overview-item overview-item--c5">
              <div class="overview__inner">
                <div class="overview-box clearfix">
                  <div class="icon">
                    <i class="zmdi zmdi-city"></i>
                  </div>
                  <div class="text">
                    <h2>{{doctorDepartment}}</h2>
                    <span>Doctor Department</span>
                  </div>
                </div>
                <div class="overview-chart">
                  <canvas id="widgetChart5"></canvas>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-1 col-lg-6">
            <div class="overview-item overview-item--c6">
              <div class="overview__inner">
                <div class="overview-box clearfix">
                  <div class="icon">
                    <i class="zmdi zmdi-calendar"></i>
                  </div>
                  <div class="text">
                    <h2>{{admitDate}}</h2>
                    <span>Admit Date</span>
                  </div>
                </div>
                <div class="overview-chart">
                  <canvas id="widgetChart5"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
{% endblock content %}