{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Title Page-->
    <title>Doctor Dashboard</title>

    <!-- Fontfaces CSS-->
    <link href="static/css/font-face.css" rel="stylesheet" media="all">
    <link href="static/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="static/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="static/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="static/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    {% comment %}
    <link href="static/vendor/animsition/animsition.min.css" rel="stylesheet" media="all"> {% endcomment %}
    <link href="static/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="static/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="static/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="static/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="static/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="static/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="static/css/theme.css" rel="stylesheet" media="all">

</head>

<body class="animsition">
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a class="logo" href="patient_dashboard">
                            <img src="{% static 'logo.png' %}" alt="logo" width="70" height="50"
                                class="d-inline-block align-text-top" />
                        </a>
                        <div class="account2">
                            <div class="account2">
                                <div class="image img-cir img-120">
                                    <img src="{% static doctor.profile_pic.url %}" alt="{{patient.profile_pic.url}}" />
                                </div>
                                <h4 class="name">{{doctor.get_name}}</h4>
                                <a href="/logout">Logout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">
                        <li class="active has-sub">
                            <a class="js-arrow" href="doctor_dashboard">
                                <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                        </li>
                        <li>
                            <a href="doctor_appointment">
                                <i class="fas fa-chart-bar"></i>Appoitment</a>
                        </li>
                        <li>
                            <a href="doctor_patient">
                                <i class="fas fa-table"></i>Patient</a>
                        </li>
                        <li>
                            <a href="doctor_patient_discharge">
                                <i class="far fa-check-square"></i>Discharge</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- END HEADER MOBILE-->

        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <a href="#">
                    <img src="{% static 'logo.png' %}" alt="logo" width="70" height="50"
                        class="d-inline-block align-text-top" />
                </a>
                Doctor Dashboard
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <div class="account2">
                    <div class="image img-cir img-120">
                        <img src="{% static doctor.profile_pic.url %}" alt="Profile Pic" />
                    </div>
                    <h4 class="name">{{doctor.get_name}}</h4>
                    <a href="/logout">Logout</a>
                </div>
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        <li class="active has-sub">
                            <a class="js-arrow" href="doctor_dashboard">
                                <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                        </li>
                        <li>
                            <a href="doctor_appointment">
                                <i class="fas fa-chart-bar"></i>Appoitment</a>
                        </li>
                        <li>
                            <a href="doctor_patient">
                                <i class="fas fa-table"></i>Patient</a>
                        </li>
                        <li>
                            <a href="doctor_patient_discharge">
                                <i class="far fa-check-square"></i>Discharge</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->
        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="header-wrap">
                            <form class="form-header" action="" method="POST">
                                <input class="au-input au-input--xl" type="text" name="search"
                                    placeholder="Search for datas &amp; reports..." />
                                <button class="au-btn--submit" type="submit">
                                    <i class="zmdi zmdi-search"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </header>
            <!-- HEADER DESKTOP-->
            <section class="welcome2 p-t-40 p-b-55">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="welcome2-inner m-t-60">
                                <div class="welcome2-greeting">
                                    <h1 class="title-6">Hi
                                        <span>{{request.user.first_name}}</span>, Welcome back
                                    </h1>
                                    <p>We are glad to see you,now you can see your data..</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END PAGE CONTAINER-->
            {% block content %}
            {% endblock content %}
        </div>

    </div>
    <script src="static/js/main.js"></script>

</body>

</html>
<!-- end document-->