{% extends 'base.html' %}
{% load static %}
{% block content %}

<body class="img" style="background-image: url(static/bg1.jpg);">
	<section class="ftco-section" style="text-align:center;">
		<div>
			<h1 class="display-4">Hello, Sir...</h1>
			<h2 class="lead">Welcome to Hospital Management System.</h2>
			<p>You can access various features after Login/SignUp as per your identity</p>
		</div>
	</section>
	<br><br>
	<footer>

		<p>
		  <a href="https://facebook.com/" class="fa fa-facebook"></a>
		  <a href="https://api.whatsapp.com/send?phone=+91951293091&text=Hello%20pratik.%0d%0aHow%20are%20you%20%3f%0d%0aI%20came%20from%20your%20website.&source=&data=#"
			class="fa fa-whatsapp"></a>
		  <a href="https://instagram.com/pratik_mendapara" class="fa fa-instagram"></a>
		  <a href="https://twitter.com/" class="fa fa-twitter"></a>
		</p>
	  
		<br>
		<div class="container">
		  <div class="row">
	  
			<div class="col-md-12 col-sm-12">
			  <div style="color:#ffffff;" class="wow fadeInUp footer-copyright">
				<p>Made in India <br>
				  Copyright &copy; 2020 LazyCoder </p>
			  </div>
			</div>
		  </div>
		</div>
	  </footer>
	</body>  
{% endblock content %}