{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>welcome to HOSPITAL</title>  </head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <style src='text/css'>
      ul{
       text-width:20px; 
      }
    </style>
  <body>
    <nav class="navbar navbar-expand-lg bg-light " >
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="static/logo.png" alt="" width="70" height="50" class="d-inline-block align-text-top">
          </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse align" id="navbarNav"">
          <ul class="navbar-nav justify-content-center" >
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/">HOME</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/doctorclick">DOCTOR</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/patientclick">PATIENT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/registration">REGITRATION</a>
              </li>
            <li class="nav-item">
              <a class="nav-link disabled"></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </body>
</html>