{% include 'base.html' %}
{% load static %}
{% block content %}

<head>
  <title>Login AS PATIENT</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body class="img" style="background-image: url(static/bg5.jpg);">
  <section class="ftco-section"style="margin-bottom:0px; text-align:center;">
    <div >
      <h1 class="display-4">Hello, PATIENT</h1>
      <p class="lead">Welcome to Hospital Management System.</p>
      <hr class="my-4">
      <p>You can access various features after Login/SignUp.</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="patientsignup" role="button">SignUp</a>
        <a class="btn btn-primary btn-lg" href="patientlogin" role="button">Login</a>
      </p>
    </div>
    <div class="container ftco-section">
      <h1 class="display-4">Total. PATIENT</h1>
      <div class="row">
        <div class="col-md" style="margin-top:1%;">
            <table class="table table-hover" id="dev_table">
              <thead>
                <tr>
                  <th>NAME</th>
                  <th>SYMPTOMS</th>
                  <th>ASSIGNED DOCTOR</th>
                  <th>EMAIL</th>
                  <th>MOBILE</th>
                  <th>ADDRESS</th>
                  <th>STATUS</th>
                </tr>
              </thead>
              {% for P in patients %}
              <tr>
                <td>{{P.get_name}}</td>
                <td>{{P.symptoms}}</td>
                <td>{{P.assignedDoctorId}}</td>
                <td>{{P.email}}</td>
                <td>{{P.mobile}}</td>
                <td>{{P.address}}</td>
                  {% if P.status %}
                  <td><span class="btn btn-primary badge">PERMNENT</span></td>
                  {% else %}
                  <td><span class="btn btn-success badge">ON HOLD</span></td>
                  {% endif %}
              </tr>
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
    </div
  </section>

  <script src="static/jquery.min.js"></script>
  <script src="static/popper.js"></script>
  <script src="static/bootstrap.min.js"></script>
  <script src="static/main.js"></script>

</body>
{% endblock content %}