{% load widget_tweaks %}
{% include 'base.html' %}
{% load static %}
{% block content %}

<head>
    <title>PATIENT</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body class="img" style="background-image: url(static/bg6.jpg);">
    <section class="">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section"> WELCOME.</h2>
                    <h1>PATIENT</h1>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="login-wrap p-0">
                    <form action="{% url 'patientsignup' %}" method="post" class="signin-form" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                  {% render_field userform.first_name class="form-control" placeholder="First Name" %}
                                </div>
                                <div class="form-group">
                                  {% render_field userform.username class="form-control" placeholder="Username" %}
                                </div>
                                <div class="form-group">
                                  {% render_field patientform.address class="form-control" placeholder="Address" %}
                                </div>
                                <div class="form-group">
                                  {% render_field patientform.symptoms class="form-control" placeholder="Symptoms" %}
                                </div>
                                <div class="form-group">
                                  {% render_field patientform.profile_pic required="required" class="form-control" placeholder="Profile Picture" %}
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                  {% render_field userform.last_name class="form-control" placeholder="Last Name" %}
                                </div>
                                <div class="form-group">
                                  {% render_field userform.password class="form-control" placeholder="Password" %}
                                </div>
                                <div class="form-group">
                                  {% render_field userform.email class="form-control" placeholder="Email" %}
                                </div>
                                <div class="form-group">
                                  {% render_field patientform.mobile class="form-control" pattern="[6789][0-9]{9}" placeholder="Mobile Number" %}
                                </div>
                                <div class="form-group">
                                  {% render_field patientform.assignedDoctorId class="form-control" placeholder="Doctor" %}
                                </div>
                  
                              </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="form-control btn btn-primary submit px-3">REGISTER</button>
                        </div>
                    </form>
                    <div class="text-center">Already have an account? <a href="patientlogin">Login here</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/popper.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/main.js"></script>

</body>


{% endblock content %}