{% extends 'patient_base.html' %}
{% load static %}
{% block content %}

<body>
    <div class="market-updates">
      <div class="col-md-4 market-update-gd">
        <div class="market-update-block clr-block-1">
          <div class="col-md-8 market-update-left">
            <h3>{{doctorName}}</h3>
            <h4>Doctor Name</h4>
          </div>
          <div class="col-md-4 market-update-right">
            <i class="fa fa-user-o"> </i>
          </div>
          <div class="clearfix"> </div>
        </div>
      </div>
      <div class="col-md-4 market-update-gd">
        <div class="market-update-block clr-block-2">
          <div class="col-md-8 market-update-left">
            <h3>{{symptoms}}</h3>
            <h4>Symptoms</h4>
          </div>
          <div class="col-md-4 market-update-right">
            <i class="fa fa-info-circle"></i>
          </div>
          <div class="clearfix"> </div>
        </div>
      </div>
      <div class="col-md-4 market-update-gd">
        <div class="market-update-block clr-block-3">
          <div class="col-md-8 market-update-left">
            <h3>{{doctorMobile}}</h3>
            <h4>Doctor Mobile</h4>
          </div>
          <div class="col-md-4 market-update-right">
            <i class="fa fa-mobile" aria-hidden="true"></i>
          </div>
          <div class="clearfix"> </div>
        </div>
      </div>
      <div class="clearfix"> </div>
    </div>
  
  
  
    <br><br><br>
  
  
  
    <div class="market-updates">
      <div class="col-md-4 market-update-gd">
        <div class="market-update-block clr-block-1">
          <div class="col-md-8 market-update-left">
            <h3>{{doctorAddress}}</h3>
            <h4>Doctor Address</h4>
          </div>
          <div class="col-md-4 market-update-right">
            <i class="fa fa-map-marker"> </i>
          </div>
          <div class="clearfix"> </div>
        </div>
      </div>
      <div class="col-md-4 market-update-gd">
        <div class="market-update-block clr-block-2">
          <div class="col-md-8 market-update-left">
            <h3>{{doctorDepartment}}</h3>
            <h4>Doctor Department</h4>
          </div>
          <div class="col-md-4 market-update-right">
            <i class="fa fa-list-alt"></i>
          </div>
          <div class="clearfix"> </div>
        </div>
      </div>
      <div class="col-md-4 market-update-gd">
        <div class="market-update-block clr-block-3">
          <div class="col-md-8 market-update-left">
            <h3>{{admitDate}}</h3>
            <h4>Admit Date</h4>
          </div>
          <div class="col-md-4 market-update-right">
            <i class="fa fa-calendar-o" aria-hidden="true"></i>
          </div>
          <div class="clearfix"> </div>
        </div>
      </div>
      <div class="clearfix"> </div>
    </div>
  
    <!--
      developed By : sumit kumar
      facebook : fb.com/sumit.luv
      youtube : youtube.com/lazycoders
      -->
  
  
  </body>
{% endblock content %}
